<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
  <body class="bg-light">
    <div class="container">
      <img
        alt="Company"
        class="ax-center my-10 w-24"
        src="https://company.earthservers.net/assets/CompanyTextLogo.png"
        style="max-width: 150px; height: auto;"
      />
      <div class="card p-6 p-lg-10 space-y-4">
        <h1 class="h3 fw-700">Notice of Terms &amp; Policy Change</h1>
        <p>
          This email is to notify you that we're updating all of our policy
          documents.
        </p>
        <p>
          You can read our updated Terms of Service and Privacy Policy below:<br />
          Effective. 24th March 2025
        </p>
        <a class="p-3 fw-700" href="https://company.earthservers.net/terms"
          >Terms of Service</a
        >
        <a class="p-3 fw-700" href="https://company.earthservers.net/privacy"
          >Privacy Policy</a
        >
        <p>
          Our Community Guidelines have also been updated to help us better
          protect and safeguard the platform. You can check them out here:
        </p>
        <a class="p-3 fw-700" href="https://company.earthservers.net/terms"
          >Community Guidelines</a
        >
      </div>
      <div class="text-muted text-center my-6">
        Sent by Company<br />
        Built in Canada
      </div>
      <div class="text-muted text-xs my-6 ax-center">
        Company Team
      </div>
    </div>
  </body>
</html>
